@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-size: 62.5%;
}
html {
  width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
nav {
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
  font-style: none;
  color: white;
  margin-top: 25px;
}
@media (max-width: 500px) {
  nav {
    margin-bottom: 25px;
  }
}
nav a {
  color: white;
  font-style: none;
  margin-right: 30px;
  text-decoration: none;
}
footer {
  background-color: black;
}
footer p {
  color: white;
  text-align: center;
  padding: 2% 0;
  font-size: 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: Roboto;
  background-color: #00a35e;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header .header-words {
  font-size: 2.5rem;
  font-style: none;
  color: white;
  margin: 30px;
}
@media (max-width: 500px) {
  header .header-words {
    font-size: 2.5rem;
  }
}
.top-rectangle {
  display: flex;
}
@media (max-width: 500px) {
  .top-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.top-rectangle .top-left-box {
  margin-top: 10%;
}
.top-rectangle .top-right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 500px) {
  .top-rectangle .top-right-box {
    text-align: center;
    margin: 0 5% 0;
  }
}
.top-rectangle .top-right-box h1 {
  color: #1dab6f;
  font-size: 3.5rem;
}
.top-rectangle .top-right-box .first-para {
  font-size: 1.8rem;
  font-family: Roboto;
  line-height: 3rem;
}
.top-rectangle .top-right-box .button1 {
  border: 2px solid #40ba86;
  width: 20%;
  padding: 15px;
  font-size: 1.2rem;
  color: #30b47c;
  border-radius: 5px;
  margin-top: 5%;
}
@media (max-width: 800px) {
  .top-rectangle .top-right-box .button1 {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .top-rectangle .top-right-box .button1 {
    width: 100%;
    font-size: 2rem;
  }
}
.top-rectangle .top-right-box .button1:hover {
  color: white;
  background: #30b47c;
}
.middle-rectangle {
  display: flex;
  justify-content: space-between;
  margin: 15% 2%;
}
@media (max-width: 500px) {
  .middle-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .middle-rectangle {
    margin: 7% 5% 0;
  }
}
@media (max-width: 500px) {
  .middle-rectangle .middle-left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
  }
}
.middle-rectangle .middle-left-box h2 {
  margin-top: 3.5%;
}
@media (max-width: 500px) {
  .middle-rectangle .middle-middle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 0;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .middle-rectangle .middle-right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 0;
    text-align: center;
  }
}
.middle-rectangle img {
  margin: 0 0 10% 30%;
}
@media (max-width: 500px) {
  .middle-rectangle img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
  }
}
.middle-rectangle p {
  font-size: 1.8rem;
  width: 90%;
  line-height: 2.5rem;
  margin-top: 5%;
}
.middle-rectangle h2 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .middle-rectangle h2 {
    margin-top: 3%;
  }
}
.bottom-rectangle {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .bottom-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .bottom-rectangle {
    margin: 7% 7% 0;
  }
}
.bottom-rectangle .bottom-left-box {
  margin-left: 10%;
}
@media (max-width: 500px) {
  .bottom-rectangle .bottom-left-box {
    text-align: center;
    margin: 0 5% 0;
  }
}
.bottom-rectangle .bottom-left-box .bottom-left-words {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 900;
}
.bottom-rectangle .bottom-left-box h2 {
  font-size: 2.8rem;
  color: #1dab6f;
}
@media (max-width: 500px) {
  .bottom-rectangle .bottom-left-box h2 {
    text-align: center;
  }
}
.bottom-rectangle .bottom-left-box p {
  font-size: 1.5rem;
  width: 50%;
  line-height: 2rem;
}
@media (max-width: 500px) {
  .bottom-rectangle .bottom-left-box p {
    text-align: center;
    width: 100%;
    line-height: 2rem;
  }
}
.bottom-rectangle .bottom-left-box .button2 {
  border: 2px solid #40ba86;
  width: 20%;
  padding: 15px;
  font-size: 1.4rem;
  color: #30b47c;
  border-radius: 5px;
  margin-top: 20px;
}
@media (max-width: 800px) {
  .bottom-rectangle .bottom-left-box .button2 {
    width: 50%;
    margin-bottom: 5%;
  }
}
@media (max-width: 500px) {
  .bottom-rectangle .bottom-left-box .button2 {
    width: 100%;
    font-size: 2rem;
  }
}
.bottom-rectangle .bottom-left-box .button2:hover {
  color: white;
  background: #30b47c;
}
.bottom-rectangle .bottom-right-box {
  width: 50%;
}
@media (max-width: 500px) {
  .bottom-rectangle .bottom-right-box {
    margin-top: 7%;
  }
}
.about-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/weights-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
}
.about-h1 {
  font-size: 5rem;
  text-align: center;
  padding: 5% 0;
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
}
.team p {
  font-size: 2rem;
  margin-top: 5%;
  font-weight: 1000;
}
.team a {
  font-size: 1.5rem;
  margin-top: 5%;
  color: white;
  padding-bottom: 5%;
}
.team img {
  border-radius: 8px;
}
@media (max-width: 500px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.team-member1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
